:root {
  /* color */
  --color-white: #ffffff;
  --color-lightgrey: #808080;
  --color-grey: #363636;
  --color-darkgrey: #1b1b1b;
  --color-beige: #faebd7;
  --color-lightbeige: #fff7ee;
  --color-darkbeige: #674e4e;
  --color-darkbeige-t: #674e4e5b;
  /* layout size */
  --layout-small: 10px;
  --layout-large: 40px;
  --layout-medium: 20px;
  --size-nav: 55px;
  /* fonr size */
  --font-large: 40px;
  --font-medium: 20px;
  --font-small: 16px;

  /* layout */
  --border-thickness: 2px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  color: var(--color-darkbeige);
  font-family: "Noto Sans KR", sans-serif;
}

body {
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

* a:hover {
  color: rgb(175, 100, 15);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body header {
  width: 100%;
  height: 200px;
  background-color: var(--color-beige);
  display: flex;
  justify-content: center;
  align-items: center;
}

body header .title {
  width: auto;
  height: auto;
  font-size: var(--font-large);
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

body .menu {
  width: 100%;
  height: var(--size-nav);
  background-color: var(--color-darkbeige);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  align-self: flex-start;
  top: 0px;
  z-index: 1;
}

body .menu .nav_btn {
  width: 200px;
  height: 40px;
  margin: var(--layout-small) 0;
  background-color: transparent;
  color: var(--color-white);
  font-size: var(--font-medium);
  border-left: 2px solid var(--color-beige);
}

body .menu .nav_btn:first-child {
  background-color: var(--color-beige);
  color: var(--color-darkbeige);
}

body .menu .nav_btn:last-child {
  border-right: 2px solid var(--color-beige);
}

body .page_div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

body .page_div .content {
  width: 100%;
  padding: var(--layout-large) calc(var(--layout-large) * 5);
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_div .content section {
  width: 100%;
  padding-bottom: calc(var(--layout-medium) * 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content section > .title {
  width: 100%;
  height: 60px;
  padding: 0 calc(var(--layout-medium) * 2);
  background-color: var(--color-beige);
  font-size: var(--font-medium);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  align-self: flex-start;
  top: var(--size-nav);
}

.content section .container {
  width: 95%;
  height: auto;
  padding: var(--layout-medium);
  font-size: var(--font-small);
}

section .container .item {
  padding: var(--layout-medium) 0;
  border-bottom: 1px solid var(--color-darkbeige-t);
}

section .container .item:first-child {
  padding-top: 0;
}

.container .item .title {
  padding-bottom: var(--layout-small);
  font-size: calc(var(--font-small) * 1.1);
  font-weight: bold;
}

.page_div .host_info .images_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.page_div .images .images_box {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--layout-small) 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.images .images_box .img_container {
  width: auto;
  height: 250px;
  margin: var(--layout-small) var(--layout-small);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.images_box .img_container img {
  max-height: 100%;
  width: auto;
  display: block;
}

.content .schedule .container {
  display: flex;
  justify-content: center;
}

.schedule .container .schedule_table {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: var(--font-small);
  border-collapse: collapse;
}

.schedule_table tr td {
  border: 1px solid var(--color-darkbeige-t);
  border-left: none;
  padding: var(--layout-small);
}

.schedule_table tr td:not(:first-child) {
  border-right: none;
  padding-left: calc(var(--layout-small) * 1.5);
  text-align: left;
}

.schedule_table tr:nth-child(2) td:first-child {
  background-color: var(--color-lightbeige);
  border-top: 2px solid var(--color-darkbeige-t);
  border-right: none;
  font-weight: bold;
}

.schedule_table tr:nth-child(7) {
  background-color: var(--color-lightbeige);
  border-top: 2px solid var(--color-darkbeige-t);
  border-bottom: 2px solid var(--color-darkbeige-t);
}
